body{
    color:white;
   
}

.nav-link{
    color: white;
    font-size: x-large;
    align-items: center;
    font-weight: 600; 
}
/* styling the carousel.........................*/
.carousel {
    height: 500px; /* Set the height of the carousel */
    background-color: rgb(62, 62, 62);
  }
  .carousel-item img {
    
    object-fit: cover; /* Maintain aspect ratio and cover the entire space */
  }
  
.img1{
  
  padding-left: 0px;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-left: 1px;
  height: 600px;
}

h1{
  color: #00426c;
  font-size: 39px;
  font-family: cairo, sans-serif;
  font-weight: 700;
  letter-spacing: 0.25px;
  text-transform: none;
  line-height: 44px;
  margin-top: 34px;
}
.p1{
  font-family: cairo, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  color: #00426c;
  font-weight: 400;
 
  margin-top: 34px;
  
}
h5{
  color: #00426c;
  font-size: 30px;
  font-family: cairo, sans-serif;
  font-weight: 700px;
  letter-spacing: 0.25px;
  text-transform: none;
  line-height: 44px;
  margin-top: 34px;
}
.card-text{
  font-family: cairo, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  color: #00426c;
  font-weight: 400;
}



/*-------------------------------------sticky social media icons------------------*/
  /* Sticky social icons styles */
  .social-icons {
    position: sticky;
    top: 50%; /* Adjust the position from the top */
    transform: translateY(-50%);
    z-index: 1000;
  }
  
  .social-icons a {
    display: block;
    margin-bottom: 10px;
    font-size: 24px;
    color: #fff;
    background-color: #333;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
  }
  
  /* Change colors or styles as needed for different social icons */
  .social-icons .facebook { background-color: #3b5998; }
  .social-icons .twitter { background-color: #55acee; }
  .social-icons .whatsapp { background-color: #25D366; }
  .social-icons .youtube { background-color: #FF0000; }
  .social-icons .tiktok { background-color: #FF00; }
  
  /* Adjustments for small screens */
 /* @media (max-width: 767px) {
    .social-icons {
      display: none;
    }
  }
  */